<style>
    #febs-product-detail #product-img, #febs-product-detail .product-info {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }

    #febs-product-detail #product-img img {
        width: 7rem;
        margin: 10px 10px 0 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    #febs-product-detail #product-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #febs-product-detail .product-info div {
        margin: 10px 15px;
        max-width: 19rem;
    }

    #febs-product-detail #options-wrapper a {
        padding: 4px 6px;
        color: rgba(0, 0, 0, 0.65);
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

    #febs-product-detail #options-wrapper a:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }

</style>
<div class="layui-fluid" id="febs-product-detail" lay-title="产品信息">
    <div id="product-info-wrapper">
        <div class="product-info">
            <div> 产品id：
                [[${product.pId}]]
            </div>
            <div> 产品编码：
                [[${product.code}]]
            </div>
            <div> 产品名称：
                [[${product.name}]]
            </div>
            <div> 产品规格：
                [[${product.format}]]
            </div>
            <div> 产品描述：
                [[${product.description}]]
            </div>
            <div> 上级id：
                [[${product.superiorId}]]
            </div>
        </div>
    </div>
</div>