<style>
    #febs-device-detail #device-img, #febs-device-detail .device-info {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }

    #febs-device-detail #device-img img {
        width: 7rem;
        margin: 10px 10px 0 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    #febs-device-detail #device-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #febs-device-detail .device-info div {
        margin: 10px 15px;
        max-width: 19rem;
    }

    #febs-device-detail #options-wrapper a {
        padding: 4px 6px;
        color: rgba(0, 0, 0, 0.65);
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

    #febs-device-detail #options-wrapper a:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }

</style>
<div class="layui-fluid" id="febs-device-detail" lay-title="设备信息">
    <div id="device-info-wrapper">
        <div class="device-info">
            <div> 设备id：
                [[${device.dId}]]
            </div>
            <div> 设备编码：
                [[${device.code}]]
            </div>
            <div> 设备名称：
                [[${device.name}]]
            </div>
            <div> 设备规格：
                [[${device.format}]]
            </div>
            <div> 设备描述：
                [[${device.introduction}]]
            </div>
            <div> 设备状态：
                [[${device.deviceStatus}]]
            </div>
            <div> 租用状态：
                [[${device.rentalStatus}]]
            </div>
            <div> 设备来源：
                [[${device.dResource}]]
            </div>
        </div>
    </div>
</div>