<style>
    #febs-deviceType-detail #deviceType-img, #febs-deviceType-detail .deviceType-info {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }

    #febs-deviceType-detail #deviceType-img img {
        width: 7rem;
        margin: 10px 10px 0 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    #febs-deviceType-detail #deviceType-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #febs-deviceType-detail .deviceType-info div {
        margin: 10px 15px;
        max-width: 19rem;
    }

    #febs-deviceType-detail #options-wrapper a {
        padding: 4px 6px;
        color: rgba(0, 0, 0, 0.65);
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

    #febs-deviceType-detail #options-wrapper a:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }

</style>
<div class="layui-fluid" id="febs-deviceType-detail" lay-title="设备类型信息">
    <div id="deviceType-info-wrapper">
        <div class="deviceType-info">
            <div> 设备类型id：
                [[${deviceType.dtId}]]
            </div>
            <div> 设备类型名称：
                [[${deviceType.type}]]
            </div>
        </div>
    </div>
</div>